.App {
  text-align: center;
  color: white;
  padding: 0.5rem;
}

.alert-class {
  color: red;
}

.warning-sign {
  text-align: center;
  padding: 0.5rem;
}

.single-book {
  text-align: center;
}

.single-image {
  margin-left: 32rem;
}